.container {
    padding: 0 1rem;
}

.btn {
    display: inline-bock;
    border: none;
    background: lightgray;
    color: gray;
    padding: 7px 20px;
    cursor: pointer;
}

.btn:hover {
    background: gray;
}